:root{
    --border-color: #666;
    --shadow: 1px 1px 2px rgba(0,0,0,.1);
}

*{
    box-sizing: border-box;
}

html, body{
    width: 100%;
    padding: 0;
    margin: 0;
}

html{
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100%;
    background-color: #f8f9fa;
    display: grid;
}

a, button{
    cursor: pointer;
}

a, button, input{
    outline: none;
    text-decoration: none;
    color: #666;
}

#MainMenu {
    display: grid;
    grid-template-columns: 100px calc(100% - 100px);
    height: 60px;
    background: #000;
}

#TopMenu{
    display: flex;
    justify-content: start;
    list-style: none;
}

#TopMenu li.item-menu, #Logo {
    cursor: pointer;
    margin: 0 20px; 
    align-self: center;
}

#TopMenu li.item-menu a{
    color: #fff;
}

#Content {
    display: grid;
}

.home #Content {
    grid-template-columns: 300px calc(100% - 300px);
    margin-top: 60px;
}

#SearchObserve {
    grid-column: 1 /3;
    text-align: center;
}

#SearchObserve span {
    display: block;
    margin-bottom: 20px;
}

#Sidebar {
    background-color: #fff;
    padding: 20px 20px 15px 20px;
    margin: 0 0 25px 20px;
    border: 1px solid #ededed;
}

body:not(.logged) #UserPanel{
    display: none;
}

#Filters .filter, #UserPanel{
    background-color: #fff;
    margin: 10px 0;
    padding: 10px;
    font-size: 14px;
}

#ResetButton{
    display: block;
    float: right;
    font-size: 12px;
}

#Filters .filter > label:after{
    content: url(close-icon.svg);
    width: 12px;
    height: 12px;
    float: right;
}

#Filters .filter:not(.open) > label:after{
    transform: rotate(180deg);
}

#Filters .filter .filter-content{
    display: none;
    margin-top: 15px;
}

#Filters .filter .filter-content label{
    cursor: pointer;
    width: 100%;
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
}

#Filters .filter .filter-content.numbers label {
    width: 48%;
    display: inline-block;
}

#Filters .filter .filter-content.numbers label span, #Filters .filter .filter-content.numbers label input {
    width: 100%;
    display: block;
}

#Filters .filter .filter-content .filter-group label:not(.heading){
    padding-left: 25px;
}

#Filters .filter > label {
    font-size: 12px;
    display: block;
    margin: 0;
    letter-spacing: 1px;
    border-bottom: 1px solid #ddd;
    color: #666;
    padding: 10px 0;
    cursor: pointer;
}

.filter-group{
    overflow: hidden;
    margin: 15px 0 0;
}

/* 
#FilterInspectorate .filter-group.hidden label:nth-child(n+7) {
    display: none;
} */

#FilterInspectorate .filter-group .more-container{
    display: none;
}

#FilterInspectorate .filter-group .show-more{
    color: #000;
    float: right;
    display: block;
    font-size: 12px;
}

#Filters .filter .heading, #Filters .filter .double-heading {
    font-weight: bold;
    padding-left: 0;
}

input{
    width: 100%;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #d2d8dd;
}

input:focus{
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

input[type="checkbox"] {
    width: auto !important;
}

input[type="checkbox"] + span{
    font-size: 12px;
    vertical-align: top;
}

.numbers input[type="text"], input[type="number"], input[type="date"]{
    margin: 5px 0;
    height: calc(2.55rem + 2px);
}

.numbers label span, .dates label span{
    font-size: 11px;
}

#Main {
    padding: 0 40px 40px;
}

#SafeSearch {
    border: 1px solid #bbb;
    border-radius: 3px;
    padding: 10px 60px 10px 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    background-image: url(star-empty.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-color: #ddd;
    margin-bottom: 10px;
}

#SafeSearch.observed {
    border: none;
    border-radius: 3px;
    padding: 10px 60px 10px 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    background-image: url(star.svg);
}

#SortAuctions {
    margin: 0 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#SortAuctions .column {
    position: relative;
    cursor: pointer;
    font-size: 12px;
    color: #666;
    font-weight: 600;
    text-align: center;
}

#SortAuctions .column:not(:last-of-type), #Auctions .column{
    border-right: 1px solid rgba(0,0,0,.08);
}

#SortAuctions .column.active-sort.asc span:after{
    content: url('sort-asc.svg');
}

#SortAuctions .column.active-sort.desc span:after{
    content: url('sort-desc.svg');
}

#SortAuctions .column.active-sort span:after{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 12px;
    top: 8px;
}

#SortAuctions .column.active-sort{
    background: #f3f3f3;
}

#SortAuctions, #Auctions .row {
    display: grid;
    grid-template-columns: 50px 80px 128px 90px 200px 105px 80px 100px 80px 125px 155px 120px 90px 120px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

#Auctions{
    font-size: 12px;
}

#Auctions .row{
    transition: background-color 0.3s ease-in-out;
    margin-bottom: 6px;
    border: 1px solid #eee;
    border-radius: 2px;
}

#Auctions .column{
    display: grid;
    align-items: center;
}

#SortAuctions .column, #Auctions .column{
    padding: 12px 4px;
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
}

#SortAuctions .column sup, #Auctions .column sup{
    position: absolute;
    top: 5px;
}

#Auctions button.observe {
    width: 20px;
    height: 20px;
    align-self: center;
    justify-self: center;
    background-color: transparent;
    border: none;
    background-image: url(star-empty.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    color: transparent;
}

#Auctions .row.observed button.observe {
    background-image: url(star.svg);
}

#Pagination{
    grid-column: 1 /3;
}

#Pagination ul {
    list-style: none;
    margin: 20px 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

#Pagination ul li{
    padding: 10px;
}

#Pagination ul li a{
    color: #666;
}

#Pagination ul li a.active{
    cursor: default;
    font-weight: bold;
}

#Popup {
    position: fixed;
    top: 100px;
    width: calc(60vw - 80px);
    left: 50%;
    min-height: auto;
    z-index: 999;
    background: #fff;
    transform: translateX(-50%);
    padding: 40px;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,.3);
}

#Popup button{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    background-image: url(exit-icon.svg);
    background-position: center;
    background-size: 100%;
    border: none;
}

footer {
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    align-self: end;
}

.fixed{
    top: 0;
    position: fixed;
    z-index: 9;
}

/* login page */
.form-container {
    max-width: 600px;
    margin: 0 auto;
}

.login form{
    background-color: #fff;
    box-shadow: 0 3px 3px rgba(0,0,0,.075);
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 3px;
    padding: 40px;
}